Facebook_page_reply_message.json
{
  "name": "Facebook",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "404e324b-5c72-40c4-877c-10c990187cff",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        16
      ],
      "id": "2361dadc-1442-457d-be19-9195dde17a0b",
      "name": "Webhook",
      "webhookId": "404e324b-5c72-40c4-877c-10c990187cff"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -80,
        -144
      ],
      "id": "e84d72f9-a6be-4c7f-b20b-5060f2352bcd",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['mess'] }}",
        "options": {
          "systemMessage": "Bạn là một trợ lý tư vấn khoá học IELTS cho công ty LIT Education. Hãy trả lời tư vấn bằng tiếng Việt dựa trên dữ liệu file dataLIT đã được cung cấp. Nếu là lời chào hay chào hỏi lại. Nếu là câu hỏi liên quan đến thông tin hay IELTS truy xuất dữ liệu và trả lời. Nếu câu hỏi không liênq quan hãy trả lời để dẫn dắt trở về câu chuyện học tiếng Anh.\nLưu ý: đặc biệt câu trả lời k sử dụng dấu ngoặc kép \"\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        336,
        16
      ],
      "id": "be3a763f-7b57-499d-b31f-bc9e9f69ecf1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "maxTokens": 100
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        256
      ],
      "id": "9fc12984-136f-447b-a98f-706d53469ebc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mzOYvcPlpmbfBhLo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json['customer'] }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        368,
        256
      ],
      "id": "49037422-e113-4da3-8526-e8b5f3f573a6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d9b5d522-5d53-4626-b874-205bb2fd73e0",
              "leftValue": "={{ $json.body.entry[0].messaging[0].message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        128
      ],
      "id": "b38c8a1a-1919-449a-8392-d89efaaea5ff",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06e0e62e-5252-4491-ae22-fb0b448bfbe3",
              "name": "customer",
              "value": "={{ $json.body.entry[0].messaging[0].sender.id }}",
              "type": "string"
            },
            {
              "id": "d0154f41-6b05-4040-b5d3-7311a645bfdc",
              "name": "page",
              "value": "={{ $json.body.entry[0].messaging[0].recipient.id }}",
              "type": "string"
            },
            {
              "id": "b88bda9d-91de-4ae4-98d6-5985d299ef8b",
              "name": "mess",
              "value": "={{ $json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            },
            {
              "id": "3745c9da-ddcd-46f7-92fd-c609ae856dd7",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        16
      ],
      "id": "cf5900e9-cf98-4105-bb6f-d39b22ff2c78",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/108902731887513/messages/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAY33REuZBtEBPCZCuZBFpXnv0JwWzJlRHDvTobecjyWphqlMaZBFM8wq1R7TVjnGCvzBwaoVlG8boAz3sqfpZC5Oa5wWEijXHp0oWZCaOaJZAaSD5CfrkrdXQkmKuCCgV9QYmL2ZAc4prjsNoFPCCOw9jZBfkZAySMVm6suSaGz5HNabtsWZAFyU2gzwPWpf2ZAC4Rb1BMlAu3VWMTLzxiLcMNRrX8h"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"recipient\":{\n    \"id\":\"{{ $('Edit Fields').item.json['customer'] }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\":{\n    \"text\":\"{{ $json.output }}\"\n  } }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        16
      ],
      "id": "452fc9a9-84ad-4717-b645-71ed43cbea61",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/108902731887513/messages/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAY33REuZBtEBPCZCuZBFpXnv0JwWzJlRHDvTobecjyWphqlMaZBFM8wq1R7TVjnGCvzBwaoVlG8boAz3sqfpZC5Oa5wWEijXHp0oWZCaOaJZAaSD5CfrkrdXQkmKuCCgV9QYmL2ZAc4prjsNoFPCCOw9jZBfkZAySMVm6suSaGz5HNabtsWZAFyU2gzwPWpf2ZAC4Rb1BMlAu3VWMTLzxiLcMNRrX8h"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={  \"recipient\":{\n    \"id\":\"{{ $('Edit Fields').item.json['customer'] }}\"\n  },\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"image\", \n      \"payload\":{\n        \"url\":\"https://res.cloudinary.com/dyby5wxzi/image/upload/v1754887919/z6886447809383_abefc9087c1f9aa0dd55d163d0550b63_pqjqhy.jpg\", \n        \"is_reusable\":true\n      }\n    }\n  }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        16
      ],
      "id": "ea7275dc-be02-411b-b66e-621b2c52801e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1s2Tamk918m4dVKKX7f-DQb_azAFlJNS7Z67p1PixnuM/edit?tab=t.0",
        "simple": false
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        512,
        256
      ],
      "id": "3c77ba38-6e62-4b61-a535-72de7f6af288",
      "name": "litData",
      "alwaysOutputData": false,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ME2TMnUtTPN62736",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "litData": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "a4510160-b1d6-4a0c-bdc1-e9ee6d013956",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b7b22e4a016964dea28e0d16e7bd6525de782db9329b3621984458dbfb24b39"
  },
  "id": "kmJPSGHwKG2ulPlh",
  "tags": []
}